<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Product List</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>

    <div class="container my-2">
        <h2>Product' List</h2>
        <a th:href="@{/product/create}" class="btn btn-primary btn-sm mb-3">Create Product</a>

        <table border="1" class="table table-striped table-responsive-md">
            <thead>
                <tr>
                    <th scope="col">Product Name</th>
                    <th scope="col">Quantity</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="product: ${products}">
                    <td th:text="${product.productName}"></td>
                    <td th:text="${product.productQuantity}"></td>
                    <td>
                        <a th:href="@{/product/edit/{productId}(productId=${product.productId})}"
                            class="btn btn-success btn-sm mb-3">Edit</a>
                    </td>
                    <td>
                        <a th:href="@{/product/delete/{productId}(productId=${product.productId})}"
                            class="btn btn-danger btn-sm mb-3">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>

</html>